@import '../../../../assets/css/main';

.graph-node-content {
  padding-left: 16px;
}

.graph-node-name-wrapper {
  padding-top: 14px;
  display: flex;
  cursor: pointer;

  .expand-icon {
    cursor: pointer;
    color: @crunch-nav;
    min-height: 24px; // prevent svg scaling for narrow windows
    min-width: 24px; // prevent svg scaling for narrow windows
  }
  .graph-node-name {
    cursor: pointer;
    align-self: center;
    padding-left: 1px;
  }
}
